<template>
    <div class="tab-item" :class="{ active }">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                type: String
            }
        },

        data() {
            return {
                active: false
            }
        }
    }
</script>
