<template>
    <div class="tabs">
        <ul class="nav-panels">
            <li class="nav-item" :class="{ 'active': index === currentTab }" v-for="(item, index) in nav" :key="`tab-${index}`">
                <a href="#" class="nav-link" :data-id="index" @click="changeTab($event, index)">{{ item }}</a>
            </li>
        </ul>

        <div class="tab-content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                nav: [],
                tabs: [],
                currentTab: 0
            }
        },

        created() {
            let nav = this.$slots.default.filter(component => component.componentOptions)

            this.nav = nav.map(item => item.componentOptions.propsData.title)
            this.tabs = this.$children

            this.$nextTick(() => {
                this.setTab(0)
            })
        },

        methods: {
            changeTab(event, index) {
                event.preventDefault()

                if (this.currentTab === index) {
                    return
                }

                this.currentTab = index
                this.setTab(index)
            },

            setTab(index) {
                this.tabs.forEach((tab, i) => tab.active = (index === i))
            }
        }
    }
</script>
