.page-jobs {
    .container {
        display: flex;
        flex-direction: column;

        @include media-up(md) {
            flex-direction: row;
        }
    }

    .page-aside {
        flex: 0 0 255px;

        @include media-up(md) {
            margin-right: 35px;
        }

        @include media-down(md) {
            display: none;
        }
    }

    .heading {
        .heading-1 {
            margin: 0 0 28px 0;

            @include media-down(md) {
                margin-bottom: 8px;
            }
        }

        .heading-2 {
            margin: 0 0 27px 0;

            @include media-down(md) {
                margin-bottom: 23px;
            }
        }

        .lead {
            margin: 0 0 34px 0;

            @include media-down(md) {
                display: none;
            }
        }
    }

    .table {
        .text-colored {
            color: $light-navy-blue;
        }
    }

    .list-group {
        .list-link.router-link-active {
            color: darken($warm-grey, 20%);
        }
    }

    .list-group-mobile {
        padding: 0 3px;
        flex-direction: row;
        white-space: nowrap;
        overflow-x: auto;
        margin-bottom: 26px;

        .list-item {
            + .list-item {
                margin: 0;
            }
        }

        .list-link {
            padding: 16px 11px 12px 11px;
            font-size: 15px;
            letter-spacing: -.5px;

            &:before {
                content: none;
            }
        }

        @include media-up(md) {
            display: none;
        }
    }

    .pagination-cover {
        margin: 60px 0;
    }

    .employees-cover {
        .heading-3 {
            margin: 0 0 19px 0;
        }

        .tabs {
            max-width: 640px;
        }
    }

    .breadcrumb {
        @include media-down(md) {
            display: none;
        }
    }
}
