@mixin media-up($value) {
    @each $size, $breakpoint in $container {
        @if $value == $size {
            @media (min-width: #{$breakpoint}px) {
                @content;
            }
        }
    }
}

@mixin media-down($value) {
    @each $size, $breakpoint in $container {
        @if $value == $size {
            @media (max-width: #{$breakpoint}px) {
                @content;
            }
        }
    }
}
