.breadcrumb {
    list-style: none;
    margin: 0 0 14px 0;
    padding: 0;
    display: flex;

    .item {
        position: relative;
        display: flex;

        &:after {
            content: '/';
            color: $warm-grey-three;
            margin: 0 3px;
            font-size: 14px;
        }

        &:last-child:after {
            content: none;
        }
    }

    .link {
        color: $warm-grey-three;
        margin: 0;
        font-size: 14px;
    }
}
