.page-footer {
    background-color: $light-grey;
    padding: 36px 0 70px 0;
    margin-top: 64px;

    @include media-up(md) {
        padding: 50px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-up(md) {
            flex-direction: row;
        }
    }

    .nav {
        padding: 0;
        margin: 0;
        list-style: none;

        .item {
            text-align: center;

            + .item {
                margin-top: 26px;
            }
        }

        .link {
            color: $warm-grey-two;
            font-weight: 500;
            text-decoration: none;
            font-size: 16px;
            transition: color .2s;
            user-select: none;

            &:hover {
                color: darken($warm-grey-two, 20%);
            }
        }

        @include media-up(md) {
            display: flex;

            .item {
                padding: 0 20px;

                &:first-child {
                    padding-left: 0;
                }

                + .item {
                    margin: 0;
                }
            }

            .link {
                font-weight: normal;
                font-size: 14px;
            }
        }
    }

    .socials {
        padding: 0;
        margin: 50px 0 0 0;
        display: flex;
        list-style: none;

        @include media-up(md) {
            margin: 0 0 0 auto;
        }

        .item {
            padding: 0 14px;

            @include media-up(md) {
                &:last-child {
                    padding-right: 0;

                    .link {
                        padding-right: 0;
                    }
                }
            }
        }

        .link {
            padding: 5px;
            display: inline-block;
            user-select: none;
        }

        .icon-cover {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                max-width: 100%;
                max-height: 100%;
                filter: grayscale(100%);
            }
        }
    }
}
