.page-header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;

    .container {
        @include media-down(sm) {
            padding: 0;
        }
    }

    @include media-up(md) {
        border-top: 4px solid $white-five;
        border-bottom: 1px solid $white-six;
        margin-bottom: 22px;
    }

    .join-us {
        margin: 15px;

        @include media-up(md) {
            align-self: flex-end;
            margin: 0 0 22px 5px;
        }

        @include media-up(lg) {
            margin-left: 35px;
        }

        .btn-join {
            border: 2px solid $white-four;
            border-radius: 20px;
            text-decoration: none;
            color: $greyish-brown;
            font-size: 14px;
            display: flex;
            align-items: center;
            padding: 9px 23px;
            transition: border-color .2s;
            justify-content: center;

            &:hover {
                border-color: darken($white-four, 10%);
            }

            .text {
                margin-top: 1px
            }

            .icon {
                width: 20px;
                height: 20px;
                margin-left: 8px;
            }
        }
    }
}
