.list-group {
    background-color: $pale-grey;
    margin: 0;
    padding: 23px 29px 21px 29px;
    display: flex;
    flex-direction: column;
    list-style: none;

    .list-item {
        + .list-item {
            margin-top: 24px;
        }
    }

    .list-link {
        text-transform: uppercase;
        font-weight: 500;
        text-decoration: none;
        color: $warm-grey;
        padding: 5px;
        font-size: 14px;
        display: inline-flex;
        position: relative;
        transition: color .2s;

        &:before {
            content: '';
            width: calc(100% - 10px);
            height: 1px;
            background-color: $piss-yellow;
            position: absolute;
            bottom: 4px;
            left: 5px;
        }

        &:hover {
            color: darken($warm-grey, 20%);
        }
    }
}
