.navbar {
    background-color: $piss-yellow;

    @include media-up(md) {
        background-color: #fff;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @include media-up(md) {
            flex-wrap: nowrap;
        }

        @include media-down(md) {
            max-width: 100%;
            padding: 0;
        }
    }

    .nav-toggle {
        flex: 0 0 64px;
        width: 64px;
        height: 64px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        border: 0;
        border-left: 1px solid $puke-yellow;
        padding: 0;
        outline: 0;

        @include media-up(md) {
            display: none;
        }

        &[aria-expanded="true"] {
            .line-1 {
                transform: translateY(6px) rotate(45deg);
            }

            .line-2 {
                opacity: 0;
            }

            .line-3 {
                transform: translateY(-6px) rotate(-45deg);
            }
        }

        @for $i from 1 through 3 {
            .line-#{$i} {
                width: 18px;
                height: 2px;
                display: flex;
                background-color: $dark-indigo;
                transition: all .2s;
            }

            .line-2 {
                margin: 4px 0;
            }
        }
    }

    .nav-collapse {
        flex-basis: 100%;
        overflow: hidden;
        background-color: #fff;
        display: flex;

        &.collapse:not(.show) {
            display: none;
        }

        &.show {
            display: flex;
        }

        &.collapsing {
            height: 0;
            transition: height .4s ease-in-out;
        }

        @include media-up(md) {
            display: flex !important;
            align-self: flex-end;
        }
    }

    .collapse-cover {
        display: flex;
        max-height: calc(100vh - 64px);
        height: 100vh;
        width: 100%;
        overflow: auto;
        flex-direction: column;

        @include media-up(md) {
            height: auto;
            max-height: 100%;
            flex-direction: row;
        }
    }

    .nav-brand {
        display: flex;
        margin-top: 8px;
        padding-left: 15px;

        img {
            max-width: 140px;
            user-select: none;
        }

        @include media-up(md) {
            background-color: $sickly-yellow;
            width: 200px;
            flex: 0 0 200px;
            box-sizing: border-box;
            height: 110px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            top: 23px;
            padding: 17px 16px;
            margin: 0;

            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    .nav-links {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;

        @include media-up(md) {
            margin-left: auto;
            flex-direction: row;
            align-self: flex-end;
            padding: 25px 0;
        }
    }

    .nav-item {
        border-bottom: 1px solid $white-six;

        @include media-up(md) {
            border: 0;
            padding: 0 10px;
        }

        @include media-up(lg) {
            padding: 0 30px;
        }
    }

    .nav-link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: .7px;
        color: $light-navy-blue;
        text-decoration: none;
        transition: color .2s;
        position: relative;
        padding: 20px 15px 18px 15px;
        display: flex;
        user-select: none;

        @include media-up(md) {
            padding: 5px;

            &:hover {
                color: $greyish;
            }

            &.router-link-active {
                color: $greyish;

                &:after {
                    content: '';
                    width: calc(100% - 10px);
                    height: 3px;
                    background-color: $sickly-yellow;
                    position: absolute;
                    bottom: -25px;
                    left: 5px;
                }
            }
        }
    }
}
