.pagination {
    display: flex;
    align-items: center;

    .list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;

        .link {
            margin: 0 8px;

            @include media-down(sm) {
                margin: 0 6px;
            }
        }
    }

    .item {
        &.active .link {
            border-color: $light-navy-blue;
        }
    }

    .link {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $white-four;
        border-radius: 6px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: $light-navy-blue;
        transition: border-color .2s;
        user-select: none;
        box-sizing: border-box;

        &:hover {
            border-color: $light-navy-blue;
        }

        &.link-next svg {
            transform: rotate(180deg);
        }

        &.disabled {
            pointer-events: none;

            svg path {
                fill: $greyish;
            }
        }

        svg path {
            fill: $dark-indigo;
            transition: fill .2s;
        }
    }
}
