.table {
    border-collapse: collapse;
    border: 1px solid $white-two;
    table-layout: fixed;
    width: 100%;

    &.table-striped tbody tr:nth-child(even) {
        background-color: rgba(0, 0, 0, .04);
    }

    thead tr {
        background-color: rgba(0, 0, 0, .04);
    }

    td, th {
        border: 1px solid $white-two;
        vertical-align: top;
    }

    td {
        padding: 14px 19px;
    }

    th {
        padding: 23px 20px 17px 20px;
        text-align: left;
        font-size: 16px;
    }

    p {
        margin: 0;
        font-size: 14px;
        line-height: 21px;
    }

    a {
        font-size: 14px;
        color: $dark-indigo;
        display: inline-block;
        margin-top: 12px;
        transition: color .2s;

        &:hover {
            color: $piss-yellow;
        }
    }
}

.table-component {
    .table {
        @include media-down(lg) {
            display: none;
        }
    }

    .text-colored {
        color: #313892;
    }

    .table-mobile {
        @include media-up(lg) {
            display: none;
        }

        .box {
            border: 1px solid $white-two;
            padding: 31px 19px 34px 19px;

            + .box {
                margin-top: -1px;
            }

            &:nth-child(even) {
                background-color: rgba(0, 0, 0, .04);
            }

            .text-cover {
                + .text-cover {
                    margin-top: 16px;
                }
            }

            .heading-4 {
                margin: 0 0 6px 0;
            }

            .lead {
                margin: 0;

                &.description {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .link {
                font-size: 14px;
                color: $dark-indigo;
                display: inline-block;
                margin-top: 22px;
                transition: color .2s;

                &:hover {
                    color: $piss-yellow;
                }
            }
        }
    }
}
