.tabs {
    background-color: $white;
    display: flex;
    flex-direction: column;

    .nav-panels {
        padding: 0;
        list-style: none;
        margin: 0;
        display: flex;
    }

    .nav-item {
        flex: 1;

        &.active .nav-link {
            background-color: $white;
            color: rgba(51, 51, 51, .5);
        }

        &:first-child .nav-link {
            border-left: 0;
        }

        &:last-child .nav-link {
            border-right: 0;
        }
    }

    .nav-link {
        font-size: 14px;
        color: $light-navy-blue;
        font-weight: 500;
        text-decoration: none;
        display: flex;
        justify-content: center;
        text-align: center;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        transition: background-color .2s;
        padding: 29px 10px 20px 10px;

        @include media-up(sm) {
            padding: 24px 15px 18px 15px;
            background-color: $white-seven;
        }

        &:hover {
            background-color: $white;
        }
    }

    .tab-item {
        padding: 15px;
        display: none;

        &.active {
            display: block;
        }
    }
}
