$fonts: (
    'Roboto': ('roboto', (
        'Roboto-Regular' normal normal,
        'Roboto-Medium' 500 normal,
        'Roboto-Bold' 700 normal
    ))
);

// include font faces
@each $name, $src in $fonts {
    $directory: nth($src, 1);
    $locals: nth($src, 2);

    @each $local in $locals {
        $weight: nth($local, 2);
        $style: nth($local, 3);
        $local: nth($local, 1);
        $path: $directory + '/' + $local;

        @include font-face($name, $local, $path, $weight, $style);
    }
}
