.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    @each $size, $breakpoint in $container {
        @media (min-width: #{$breakpoint}px) {
            max-width: #{$breakpoint}px;
        }
    }
}
