.heading-1 {
    font-size: 40px;
    letter-spacing: -.2px;

    @include media-down(md) {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
    }
}

.heading-2 {
    font-size: 28px;
    letter-spacing: -.2px;
    line-height: 36px;

    @include media-down(md) {
        font-size: 18px;
        line-height: 24px;
    }
}

.heading-3 {
    font-size: 20px;
}

.heading-4 {
    font-size: 16px;
}

.text-light {
    font-weight: 300;
}

.lead {
    font-size: 16px;
    line-height: 24px;
}
