// global
$container: ('sm': '540', 'md': '720', 'lg': '960', 'xl': '1150');

// colors
$sickly-yellow: #d0db37;
$white-seven: #ebebeb;
$white-six: #e7e7e7;
$white-five: #f6f6f6;
$white-four: #e0e0e0;
$white-two: #e6e6e6;
$white: #f8f8f8;
$light-navy-blue: #313892;
$greyish: #b4b4b4;
$greyish-brown: #444444;
$piss-yellow: #cddc11;
$dark-indigo: #11165e;
$puke-yellow: #bcca10;
$pale-grey: #f1f1f2;
$warm-grey-two: #989898;
$warm-grey: #7b7b7b;
$warm-grey-three: #999999;
$black: #333333;
$light-grey: #f5f6f6;
