<template>
    <footer class="page-footer">
        <div class="container">
            <ul class="nav">
                <li class="item">
                    <a href="https://www.airbaltic.com/lv-LV/index" class="link" target="_blank">airbaltic.com</a>
                </li>

                <li class="item">
                    <a href="https://careers.airbaltic.com/en/footer/links/faq" class="link" target="_blank">Terms of use</a>
                </li>

                <li class="item">
                    <a href="https://careers.airbaltic.com/en/footer/links/privacy-policy" class="link" target="_blank">Privacy policy</a>
                </li>
            </ul>

            <ul class="socials">
                <li class="item">
                    <a href="javascript:;" class="link" target="_blank">
                        <span class="icon-cover">
                            <img src="~/assets/images/facebook.png" class="icon" alt="facebook logo">
                        </span>
                    </a>
                </li>

                <li class="item">
                    <a href="javascript:;" class="link" target="_blank">
                        <span class="icon-cover">
                            <img src="~/assets/images/twitter.png" class="icon" alt="twitter logo">
                        </span>
                    </a>
                </li>

                <li class="item">
                    <a href="javascript:;" class="link" target="_blank">
                        <span class="icon-cover">
                            <img src="~/assets/images/instagram.png" class="icon" alt="instagram logo">
                        </span>
                    </a>
                </li>

                <li class="item">
                    <a href="javascript:;" class="link" target="_blank">
                        <span class="icon-cover">
                            <img src="~/assets/images/youtube.png" class="icon" alt="youtube logo">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</template>
