<template>
    <header class="page-header">
        <nav class="navbar">
            <div class="container">
                <nuxt-link :to="{ name: 'about' }" class="nav-brand">
                    <img src="~/assets/images/logo.png" alt="airbaltic logo">
                </nuxt-link>

                <button type="button" class="btn nav-toggle" v-collapse="'#navbarCollapse'">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                </button>

                <div class="nav-collapse collapse" id="navbarCollapse">
                    <div class="collapse-cover">
                        <ul class="nav-links">
                            <li class="nav-item">
                                <nuxt-link :to="{ name: 'about' }" exact class="nav-link" @click.native="closeCollapse">Why airbaltic</nuxt-link>
                            </li>

                            <li class="nav-item">
                                <nuxt-link :to="{ name: 'culture' }" class="nav-link" @click.native="closeCollapse">Our culture</nuxt-link>
                            </li>

                            <li class="nav-item">
                                <nuxt-link :to="{ name: 'jobs.general' }" class="nav-link" @click.native="closeCollapse">Jobs</nuxt-link>
                            </li>
                        </ul>

                        <div class="join-us">
                            <a href="javascript:;" class="btn btn-join">
                                <span class="text">Join us on</span>
                                <img src="~/assets/images/linkedin.png" class="icon" alt="linkedin logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
    export default {
        methods: {
            closeCollapse() {
                this.$emit('collapse-close')
            }
        }
    }
</script>
