<template>
    <nav class="pagination">
        <a href="javascript:;" class="link link-prev" :class="{ 'disabled': currentPage === 1 }" @click="changePage($event, currentPage - 1)">
            <img svg-inline src="~/assets/svg/rounded-rectangle.svg" class="icon">
        </a>

        <ul class="list">
            <li class="item" v-for="page in pages" :class="{ 'active': currentPage === page }">
                <a href="#" class="link" @click="changePage($event, page)">
                   {{ page }}
                </a>
            </li>

            <li class="item" v-if="currentPage < (totalPages - pageLimit)">
                <a href="#" class="link disabled">...</a>
            </li>
        </ul>

        <a href="javascript:;" class="link link-next" :class="{ 'disabled': currentPage === totalPages }" @click="changePage($event, currentPage + 1)">
            <img svg-inline src="~/assets/svg/rounded-rectangle.svg" class="icon">
        </a>
    </nav>
</template>

<script>
    export default {
        props: {
            perPage: {
                type: Number,
                required: true
            },

            totalRows: {
                type: Number,
                required: true
            },

            value: {
                required: true
            },

            limit: {
                type: Number
            }
        },

        data() {
            return {
                currentPage: this.value,
                pageLimit: this.limit
            }
        },

        mounted() {
            let events = ['load', 'resize']


            events.forEach(event => {
                window.addEventListener(event, () => {
                    if (window.outerWidth <= 960) {
                        this.pageLimit = 3
                        return
                    }

                    this.pageLimit = this.limit
                })
            })
        },

        computed: {
            startPage() {
                if (this.currentPage === 1) {
                    return 1
                }

                if (this.currentPage >= this.totalPages - (this.pageLimit - 2)) {
                    return this.totalPages - this.pageLimit + 1
                }

                return this.currentPage - 1
            },

            endPage() {
                return Math.min(this.startPage + this.pageLimit - 1, this.totalPages)
            },

            totalPages() {
                return parseInt(this.totalRows / this.perPage)
            },

            pages() {
                let range = [];

                for (let i = this.startPage; i <= this.endPage; i += 1 ) {
                    range.push(i)
                }

                return range
            }
        },

        methods: {
            changePage(event, page) {
                event.preventDefault()

                if (page > this.totalPages || page < 0) {
                    return
                }

                this.currentPage = page
                this.$emit('input', page)
            }
        }
    }
</script>
