<template>
    <div class="table-component">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th
                        v-for="(heading, index) in headers" :key="`thead-${index}`"
                        :width="heading.width ? `${heading.width}%` : false">
                        {{ heading.label }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in data" :key="`tbody=${index}`">
                    <slot name="item" :item="item"></slot>
                </tr>
            </tbody>
        </table>

        <div class="table-mobile">
            <div class="box" v-for="(item, index) in data" :key="`mjob-${index}`">
                <div class="text-cover" v-for="(heading, hindex) in headers" :key="`mhead-${hindex}`">
                    <h4 class="heading-4">{{ heading.label }}</h4>

                    <slot :name="heading.field" :text="item[heading.field]" :item="item"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            headers: {
                type: Array,
                required: true
            },

            data: {
                type: Array,
                required: true
            }
        }
    }
</script>
