<template>
    <div id="app">
        <page-header/>

        <div class="page-wrapper">
            <nuxt />
        </div>

        <page-footer/>
    </div>
</template>

<script>
    export default {
        components: {
            pageHeader: () => import('~/components/header.vue'),
            pageFooter: () => import('~/components/footer.vue')
        }
    }
</script>
