<template>
    <div class="page-culture">
        <div class="container">
            <h1 class="heading-1">airBaltic culture page</h1>

            <p class="lead">
                What is it about airBaltic that makes our employees excited and potential candidates so <br>
                keen to join us? Among the commonly mentioned reasons are:
            </p>
        </div>
    </div>
</template>
