<template>
    <div class="job-general">
        <div class="heading">
            <h1 class="heading-1">Recruitment at airBaltic</h1>

            <h2 class="heading-2 text-light">
                Our recruitment process is fair and transparent for all <br>
                candidates, we focus on job-related skills and experience to <br>
                ensure the best fitting candidate gets the job.
            </h2>

            <p class="lead">
                What is it about airBaltic that makes our employees excited and potential candidates so <br>
                keen to join us? Among the commonly mentioned reasons are:
            </p>
        </div>

        <table-view :headers="tableHeaders" :data="jobs" v-if="jobs.length">
            <template v-slot:item="row">
                <td>{{ row.item.title }}</td>
                <td>
                    <div class="text-colored">{{ row.item.department }}</div>
                </td>
                <td>
                    <p v-html="row.item.description"></p>

                    <nuxt-link :to="{ name: 'jobs.open', params: { slug: row.item.slug, category: row.item.category_slug } }">View details</nuxt-link>
                </td>
            </template>

            <template v-slot:[heading.field]="data" v-for="(heading, index) in tableHeaders">
                <p class="lead">{{ data.text }}</p>

                <template v-if="heading.field === 'description'">
                    <nuxt-link :to="{ name: 'jobs.open', params: { slug: data.item.slug, category: data.item.category_slug } }" class="link">View details</nuxt-link>
                </template>
            </template>
        </table-view>

        <p class="lead" v-else>Sorry, there are no positions available at this time</p>

        <div class="pagination-cover">
            <pagination :per-page="3" :total-rows="67" :limit="5" v-model="currentPage"/>
        </div>

        <div class="employees-cover">
            <h3 class="heading-3">Employees in company</h3>

            <tabs>
                <tab title="By nationality">tab 1</tab>
                <tab title="By gender">tab 2</tab>
                <tab title="By age">tab 3</tab>
            </tabs>
        </div>
    </div>
</template>

<script>
    import { Tabs, Tab } from '~/components/tabs'
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                tableHeaders: [
                    {
                        field: 'title',
                        label: 'Job title',
                        width: 32
                    },
                    {
                        field: 'department',
                        label: 'Department',
                        width: 25
                    },
                    {
                        field: 'description',
                        label: 'Description'
                    }
                ],
                currentPage: 1
            }
        },

        components: {
            tableView: () => import('~/components/table.vue'),
            pagination: () => import('~/components/pagination.vue'),
            Tabs,
            Tab
        },

        computed: {
            ...mapState({
                jobs: state => state.jobs.jobs
            })
        }
    }
</script>
