<template>
    <div class="page-jobs-open">
        <h1 class="heading">{{ job.title }}</h1>

        <p class="lead">{{ job.department }}</p>

        <p class="lead">{{ job.description }}</p>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState({
                jobs: state => state.jobs.jobs
            }),

            job() {
                return this.jobs.find(item => item.slug === this.$route.params.slug) || {}
            }
        }
    }
</script>
