<template>
    <div class="page-jobs">
        <h1>{{ category.name }} jobs</h1>

        <table-view :headers="tableHeaders" :data="categoryJobs" v-if="categoryJobs.length">
            <template v-slot:item="row">
                <td>{{ row.item.title }}</td>
                <td>
                    <p v-html="row.item.description"></p>

                    <nuxt-link :to="{ name: 'jobs.open', params: { slug: row.item.slug, category: row.item.category_slug } }">View details</nuxt-link>
                </td>
            </template>

            <template v-slot:[heading.field]="data" v-for="(heading, index) in tableHeaders">
                <p class="lead">{{ data.text }}</p>

                <template v-if="heading.field === 'description'">
                    <nuxt-link :to="{ name: 'jobs.open', params: { slug: data.item.slug, category: data.item.category_slug } }" class="link">View details</nuxt-link>
                </template>
            </template>
        </table-view>

        <p class="lead" v-else>Sorry, there are no positions available at this time</p>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        data() {
            return {
                tableHeaders: [
                    {
                        field: 'title',
                        label: 'Job title',
                        width: 32
                    },
                    {
                        field: 'description',
                        label: 'Description'
                    }
                ]
            }
        },

        components: {
            tableView: () => import('~/components/table.vue')
        },

        computed: {
            ...mapState({
                categories: state => state.jobs.categories,
                jobs: state => state.jobs.jobs
            }),

            category() {
                return this.categories.find(item => item.slug === this.$route.params.category) || {}
            },

            categoryJobs() {
                return this.jobs.filter(item => item.category_id === this.category.id)
            }
        }
    }
</script>
