<template>
    <div class="page-jobs">
        <ul class="list-group list-group-mobile">
            <li class="list-item" v-for="category in categories" :key="`job-${category.id}`">
                <nuxt-link :to="{ name: 'jobs.category', params: { category: category.slug } }" class="list-link">{{ category.name }}</nuxt-link>
            </li>
        </ul>

        <div class="container">
            <aside class="page-aside">
                <ul class="list-group">
                    <li class="list-item" v-for="category in categories" :key="`job-${category.id}`">
                        <nuxt-link :to="{ name: 'jobs.category', params: { category: category.slug } }" class="list-link">{{ category.name }}</nuxt-link>
                    </li>
                </ul>
            </aside>

            <section class="page-section">
                <ul class="breadcrumb">
                    <li class="item">
                        <nuxt-link :to="{ name: 'jobs.general' }" class="link">Home</nuxt-link>
                    </li>

                    <li class="item">
                        <p class="link">{{ currentCategory || 'Jobs' }}</p>
                    </li>

                    <li class="item" v-if="currentJob">
                        <p class="link">{{ currentJob }}</p>
                    </li>
                </ul>

                <router-view/>
            </section>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        computed: {
            ...mapState({
                categories: state => state.jobs.categories,
                jobs: state => state.jobs.jobs
            }),

            currentCategory() {
                let category = this.categories.find(item => item.slug === this.$route.params.category)
                return category ? category.name : null
            },

            currentJob() {
                let job = this.jobs.find(item => item.slug === this.$route.params.slug)
                return job ? job.title : null
            }
        },

        beforeRouteEnter (to, from, next) {
            next(vm => {
                if (to.name === 'jobs.category' && to.params.hasOwnProperty('category')) {
                    if (!vm.categories.find(item => item.slug === to.params.category)) {
                        next({ name: 'jobs.general' })
                    }
                } else if (to.name === 'jobs.open' && to.params.hasOwnProperty('slug')) {
                    if (!vm.jobs.find(item => item.slug === to.params.slug)) {
                        next({ name: 'jobs.general' })
                    }
                } else {
                    next()
                }
            })
        }
    }
</script>
